@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

.mobile-btns {
  position: absolute;
  top: 20px;
  right: 20px;
}

.header {
  background-image: linear-gradient(to right, #83cc16cc, #83cc16c2), url('./assets/images/mobile-back1.jpg');
  background-size: cover;
}

.desktop-nav {
  font-family: 'Roboto', sans-serif;
}

.container-reserved {
  width: 100%;
  position: relative;
  background-color: #96bf02;
  opacity: 0.8;
}

.photo-reserve {
  height: 100vh !important;
  position: relative;
  margin: 0 auto;
  opacity: 0.3;
}

.title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  z-index: 5;
  border-bottom: 2px solid #b1f053cc;
  padding: 0 4rem;
  padding-bottom: 1rem;
}

.description {
  text-align: center;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.course-details {
  margin: 2rem 1rem;
}

.reserve-button {
  background-color: #fff;
  color: #96bf02;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  min-width: 140px;
}

.reserve-button:hover {
  color: #fff;
  background-color: #96bf02;
}

.form-buttons {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  column-gap: 2rem;
}

.select-container {
  background-color: #96bf02;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  min-width: 140px;
  border: 2px solid #fff;
}

.select-button {
  background-color: #96bf02;
  color: #fff;
}

.my-res-title {
  margin: 2rem auto;
}

.container-table {
  max-width: 80%;
  margin: 2rem auto;
}

.container-course {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  border-radius: 5%;
}

.three-col {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4rem;
  margin-bottom: 2rem;
}

.key {
  max-width: 33%;
  text-align: center;
}

.latest {
  margin: 2rem 0 4rem 0;
}

.all-courses {
  width: 100%;
}

.home {
  display: flex;
}

.cat,
.description-text {
  color: #b5b5b5;
}

.title-text {
  margin: 2rem 0;
}

.btn-reserve {
  margin: 1rem;
  border-radius: 20px;
  background-color: #95b916;
  max-width: 180px;
  color: #fff;
}

.con-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

th {
  text-align: left;
}

.success {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.back {
  margin-right: 1rem;
  background-color: #96bf02;
  color: #fff;
  border: 2px solid #fff;
}

.back:hover {
  color: #96bf02;
  background-color: #fff;
}
